@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: #afecd1;
    color: #1c1c1c;
}

.blur_it12 {
    backdrop-filter: blur(5px);
}

body {
    background: black;
}

::-webkit-scrollbar {
    display: none;
}

.blur_it {
    backdrop-filter: blur(20px);
}


.thick_text {
    font-family: 'Bebas Neue', sans-serif;
    background: -webkit-linear-gradient(white 5%, #008f4f 15%, transparent 90%);
    -webkit-background-clip: text;
    cursor: default;
    -webkit-text-fill-color: transparent;
}